* {
  margin: 0;
  padding: 0;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #686868;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.loading-bar {
  width: 200px;
  height: 3px;
  background: #cfcfcf;
  margin-top: 22px;
  position: relative;
  overflow: hidden;
}

.loading-bar::before {
  content: "";
  width: 110px;
  height: 3px;
  background: #0fbb51;
  position: absolute;
  left: -34px;
  animation: bluebar 1.5s infinite ease;
}

/* loader */

.loader {
  position: absolute;
  width: 11.22%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lettre {
  color: #484848;
  font-size: 40px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;
}
@keyframes flash {
  0% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900;
  }
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.lettre:nth-child(9) {
  animation-delay: 0.9s;
}
.lettre:nth-child(10) {
  animation-delay: 1s;
}

.fondu-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

@keyframes bluebar {
  50% {
    left: 96px;
  }
}
